<p>Questo campo permette di conservare i risultati corrispondenti a un periodo preciso. Si possono dare come indicazioni&nbsp;:</p><ul>
    <li>
        <p>
            un anno&nbsp;: <kbd>2014</kbd>
        </p>
    </li>
    <li>
        <p>
            un periodo di svariati anni servendosi della barra obliqua&nbsp; / per separare le date di inizio e fine&nbsp;: <kbd>2000/2011</kbd>
        </p>
    </li>
    <li>
        <p>
            un mese&nbsp;: <kbd>2014-01</kbd>
        </p>
    </li>
    <li>
        <p>
            un periodo che cominci o finisca ad un mese a scelta&nbsp;: <kbd>2013/2014-04</kbd>
        </p>
    </li>
    <li>
        <p>
            periodi diversi, separati da due due barre verticali <kbd>||</kbd> (operatore &laquo; O &raquo;)&nbsp;: <kbd>2001/2002||2005||2012-11</kbd>
        </p>
    </li>
</ul><p>Si noti che, spesso, l&rsquo;anno &egrave; la sola indicazione temporale di un risultato ; in alcune configurazioni, l&rsquo;indicazione del mese non ottiene nessun risultato.</p>
