<p>La configuarzione della priorit&agrave; nella classifica influisce sull&rsquo;ordine di apparizione dei risultati&nbsp;</p><ul>
    <li>
        <p>
            <strong>Classifica in base alla pertinenza&nbsp;:</strong> si da priorit&agrave; ai risultati che contengono i termini ricercati nei campi principali (titolo, sottotitolo) piuttosto che in quelli secondari. Tra questi hanno priorit&agrave; i risultati che contengono i termini ricercati tra le parole chiave.
        </p>
        <p>La data aiuta a classificare le note che hanno eguale pertinenza. Inoltre, nel caso di motori di ricerca con pi&ugrave; basi, la classifica pu&ograve; essere leggermente alterata per evitare una lunga lista di rinvii proveniente da una sola base.</p>
    </li>
    <li>
        <p>
            <strong>Classifica per ordine cronologico&nbsp;:</strong> i risultati pi&ugrave; recenti occupano i primi posti, quando le date sono troppo ravvicinate si fa ricorso al criterio della pertinenza ; i risultati non datati sono collocati alla fine
        </p>
    </li>
</ul>
