<div data-scrutari-area="input">
    <div class="row-fluid">
        <div class="span9">
            <div class="input-append">
                <input type="search" class="search search-query" size="60" name="q" value="">
                <input class="btn" type="submit" value="_ button_submit">
            </div>
        </div>
        <div class="span3">
            <button type="button" data-scrutari-action="parametersDisplay" class="scrutari-Hidden btn btn-primary" data-toggle="button" data-scrutari-state="off">
                <span class="icon-cog icon-white"></span> <span>_ button_parameters</span>
            </button>
        </div>
    </div>
</div>
