<div data-scrutari-area="result" class="scrutari-area-Result">
    <div class="row-fluid">
        <div class="span12" data-scrutari-block="paginationBlock">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span7">
            {{result-links}}
        </div>
        <div class="span4 offset1">
                {{result-history}}
        </div>
    </div>
    <div class="row-fluid" data-scrutari-hidden="threshold">
        <div class="span12">
            {{result-subsearch}}
        </div>
    </div>
</div>
