<div data-scrutari-area="parameters" class="scrutari-area-Parameters scrutari-Hidden">
    {{panel-options}}
    {{panel-corpus}}
    {{panel-base}}
    {{panel-lang}}
    {{panel-category}}
    <div class="scrutari-area-Resubmit">
        <input class="btn" type="submit" value="_ button_resubmit">
    </div>
</div>
