<div class="panel panel-default scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="category">
    <div class="panel-heading scrutari-panel-Heading">
        <h4 class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='categoryPanelBody']">
            <span class="icon-filter"></span> _ title_filter_category <span data-scrutari-label="categoryFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
        </h4>
    </div>
    <div class="panel-body scrutari-panel-WithTools collapse" data-scrutari-block="categoryPanelBody">
        <div class="row-fluid">
            <div class="span12">
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-sm">
                        <button type="button" data-scrutari-action="enablePanel" data-scrutari-target="category" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                            <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button type="button" data-scrutari-action="checkAll" data-scrutari-target="category" class="btn btn-primary" disabled>_ button_check_all</button>
                        <button type="button" data-scrutari-action="uncheckAll" data-scrutari-target="category" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
            <div class="span4 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
            <div class="span4 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
            <div class="span4 scrutari-panel-ColumnDisabled" data-scrutari-group="categoryColumns"></div>
        </div>
    </div>
</div>
