<form data-scrutari-form="subsearch" role="search">
    <p class="scrutari-subsearch-Title">_ title_subsearch</p>
    <div class="input-append scrutari-subsearch-Form">
        <input type="search" class="search search-query" size="60" name="q">
        <input class="btn" type="submit" value="_ button_subsearch">
    </div>
</form>