/*****************************************************
* elements
******************************************************/

input[type="text"], input[type="search"] {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
    border-top-color: #a0a0a0;
    border-left-color: #a0a0a0;
}


/*****************************************************
* .scrutari
******************************************************/

.scrutari-On {
}

.scrutari-Mark {
    background-color: #e9e9e9;
}


/*****************************************************
* .scrutari-area
******************************************************/

.scrutari-area-Input {
    margin-bottom: 5px;
}

.scrutari-area-Parameters {
    margin-top: 5px;
    margin-bottom: 25px;
}

.scrutari-area-Poweredby {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.scrutari-area-Result {
    margin-bottom: 10px;
}

.scrutari-area-Stats {
    margin-top: 15px;
    margin-bottom: 15px;
}

.scrutari-area-Resubmit {
    margin-top: 5px;
    text-align: right;
}

.scrutari-area-Title {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;	
}


@media (min-width: 768px) {
    
    .scrutari-area-Input {
        display: grid;
        grid-template-columns: calc(67% - 10px) 33%;;
        column-gap: 10px;
    }
    
    .scrutari-area-Input > div {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: 10px;
    }
    
    .scrutari-area-Result div[data-scrutari-block="paginationBlock"] {
        grid-row: span 3;
    }
    
    .scrutari-area-Result {
        display: grid;
        grid-template-columns: calc(67% - 10px) 33%;
        column-gap: 10px;
        grid-template-rows: max-content max-content 1fr;
    }

}


/*****************************************************
* .scrutari-fiche
******************************************************/

.scrutari-fiche-Attribute {
    margin-left: 15px;
    margin-bottom: 2px;
}

.scrutari-fiche-AttributeBlock {
    margin-bottom: 2px;
}

.scrutari-fiche-AttributeTitle {
    margin-left: 15px;
    margin-bottom: 0;
}

.scrutari-fiche-AttributeValue {
    margin-left: 30px;
    margin-bottom: 0;
}

.scrutari-fiche-Block {
    margin-bottom: 15px;
    padding-left: 3px;
}

.scrutari-fiche-Complement {
    margin-left: 15px;
    margin-bottom: 2px;
}

.scrutari-fiche-Motcle {
    font-variant: small-caps;
    margin-left: 15px;
    margin-bottom: 2px;
}

.scrutari-fiche-Soustitre {
    margin-bottom: 3px;
    font-style: italic;
    margin-left: 10px;
}

.scrutari-fiche-Titre {
    font-size: 1.1em;
    margin-bottom: 4px;
    margin-left: 0;
    margin-top: 0;
}

.scrutari-fiche-Year {
    margin-bottom: 3px;
    font-style: italic;
    margin-left: 15px;
}


/*****************************************************
* .scrutari-group
******************************************************/

.scrutari-group-Tab {
    background: transparent;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;    
}

.scrutari-group-Tab:hover {
    background-color: #e9e9e9;
}

.scrutari-group-Tab:disabled {
    cursor: auto;
    background-color: #000;
    color: #fff;
}


/*****************************************************
* .scrutari-history
******************************************************/

.scrutari-history-Active {
    background-color: #e9e9e9;
}

.scrutari-history-Block {
    padding: 2px;
    margin-top: 6px;
    margin-left: 6px;
    word-wrap: break-word;
}

.scrutari-history-Subsearch {
    margin-left: 10px;
}


/*****************************************************
* .scrutari-label
******************************************************/

.scrutari-label-Attribute {
    font-style: italic;
}

.scrutari-label-Complement {
    font-style: italic;
}

.scrutari-label-Motcle {
    font-style: italic;
    font-variant: normal;
}


/*****************************************************
* .scrutari-links
******************************************************/

.scrutari-links-ButtonLike {
    display: inline-block;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #a0a0a0;
    margin-right: 5px;
    color: #515151;
}

.scrutari-links-ButtonLike:visited {
    color: #515151;
}

.scrutari-links-ButtonLike:hover {
    background-color: #dfdfdf;
    color: #515151;
    text-decoration: none;
}

.scrutari-links-Permalink {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.scrutari-links-Permalink:hover {
    white-space: normal;
    overflow-wrap: break-word;
}

.scrutari-links-Title {
    margin-top: 20px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-weight: bold;
}


/*****************************************************
* .scrutari-overlay-
******************************************************/

.scrutari-overlay-Component_dialog {
    max-width: 700px;
}

.scrutari-overlay-Component_content {
    padding: 10px 20px;
    font-size: 90%;
}

.scrutari-overlay-Component_header {
    font-size: large;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    background-color: #f5f5f5;
    padding: 20px 10px;
}

.scrutari-overlay-Component_footer {
    clear: both;
    padding: 8px 10px;
    text-align: right;
}


/*******************************************************************************
* .scrutari-overlay-button-
*******************************************************************************/

.scrutari-overlay-button-Close {
    position: absolute;
    display: block;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    background-color: #000;
    color: #fff;
}

.scrutari-overlay-button-Close:hover {
    background-color: #ddd;
}


/*****************************************************
* .scrutari-panel- et .scrutari-area-Parameters *
******************************************************/

.scrutari-panel-ButtonGroup {
    
}

.scrutari-panel-Columns {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
 
.scrutari-panel-Toolbar {
    
}

.scrutari-area-Parameters summary {
    padding-top : 5px;
    padding-bottom: 5px;
    font-size: 1.0em;
    line-height: 1.1;
    cursor: pointer;
    font-weight: normal;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.scrutari-area-Parameters details {
    margin-bottom: 0;
    border-width: 1px;
    border-style: solid;
}

.scrutari-area-Parameters details > div {
    padding-top : 3px;
    padding-bottom: 10px;
}

[data-scrutari-panel="options"] .scrutari-panel-Columns {
    grid-template-columns: repeat(3, 33%);
}

[data-scrutari-panel="options"] p {
    margin: 6px;
}

[data-scrutari-panel="options"] label {
    display: block;
}


@media (max-width: 900px) {
    
    .scrutari-panel-Columns {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, max-content);
        grid-auto-flow: column;
    }
    
    .scrutari-panel-Columns p:last-child {
        margin-bottom: 0;
    }
}


/*****************************************************
* .scrutari-pagination
******************************************************/

.scrutari-pagination-Etc {
    padding-left: 4px;
    padding-right: 4px;
    color: grey;
}

.scrutari-pagination-Tab {
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    cursor: pointer;
}

.scrutari-pagination-Tab:disabled {
    cursor: auto;
    background-color: #000;
    color: #fff;
}

.scrutari-pagination-TabList {
    margin-top: 15px;
    margin-bottom: 15px;
}



/*****************************************************
* .scrutari-stats
******************************************************/

.scrutari-stats-Count {
    font-family: monospace;
    font-weight: bold;
    text-align: right;
}

.scrutari-stats-Table {
    margin-bottom: 5px;
}

.scrutari-stats-Titles {
    font-size: 0.9em;
    padding-left: 10px;
}

.scrutari-stats-Number {
    padding-left: 10px;
    padding-right: 3px;
}


/*****************************************************
* .scrutari-subsearch
******************************************************/

.scrutari-subsearch-Title {
    margin-top: 20px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-weight: bold;
}

.scrutari-subsearch-Form {
    margin-top: 0;
    margin-bottom: 25px;
}
