<div data-scrutari-area="parameters" class="scrutari-area-Parameters scrutari-Hidden">
    {{panel-options}}
    {{panel-corpus}}
    {{panel-base}}
    {{panel-lang}}
    {{panel-category}}
    <div class="scrutari-area-Resubmit">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> <span>_ button_resubmit</span>
        </button>
    </div>
</div>
