<div data-scrutari-area="title" class="scrutari-area-Title">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <span data-scrutari-label="mainTitle"></span>
            </p>
        </div>
    </div>
</div>
