<div class="row scrutari-Hidden scrutari-area-Poweredby" data-scrutari-hidden="empty">
    <div class="col-xs-12">
        <p>
            <a href="http://www.scrutari.net" target="_blank">
                <span class="scrutari-icon-Logo"></span> _ link_poweredby
            </a>
        </p>
    </div>
</div>
