<div data-scrutari-area="result" class="scrutari-area-Result">
    <div class="row scrutari-Hidden" data-scrutari-hidden="threshold">
        <div class="col-md-8 col-lg-7">
            {{result-subsearch}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-7" data-scrutari-block="paginationBlock">
        </div>
        <div class="col-md-4 col-lg-offset-1">
            {{result-links}}
            {{result-history}}
        </div>
    </div>
</div>