<div data-scrutari-area="input">
    <div class="row">
        <div class="col-md-8 col-lg-7">
                <input type="search" class="" size="50" name="q" value="">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> <span>_ button_submit</span>
                </button>
        </div>
        <div class="col-md-4 col-lg-offset-1">
            <button type="button" data-scrutari-action="parametersDisplay" class="scrutari-Hidden btn btn-primary" data-toggle="button" data-scrutari-state="off">
                <span class="glyphicon glyphicon-cog"></span> <span>_ button_parameters</span>
            </button>
        </div>
    </div>
</div>