<div class="panel panel-default scrutari-panel-Div" data-scrutari-panel="options">
    <div class="panel-heading scrutari-panel-Heading">
        <p class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='optionsPanelBody']">
            <span class="glyphicon glyphicon-wrench"></span> _ title_options
        </p>
    </div>
    <div class="panel-body collapse" data-scrutari-block="optionsPanelBody">
        <div class="row">
            <div class="col-sm-3">
                <p>_ mode_title<br/><button data-scrutari-action="showModal" data-scrutari-target="help_mode" type="button" class="btn btn-primary btn-xs" title="_ mode_help"><span class="glyphicon glyphicon-question-sign"></span></button></p>
                <div>
                    <label><input type="radio" name="q-mode" value="intersection" checked> _ mode_intersection</label>
                    <label><input type="radio" name="q-mode" value="union"> _ mode_union</label>
                    <label><input type="radio" name="q-mode" value="operation"> _ mode_operation</label>
                    <label><input type="checkbox" name="wildchar" value="end" checked> _ wildchar_end</label>
                </div>
            </div>
            <div class="col-sm-3">
                <p>_ ponderation_title<br/><button data-scrutari-action="showModal" data-scrutari-target="help_ponderation" type="button" class="btn btn-primary btn-xs" title="_ ponderation_help"><span class="glyphicon glyphicon-question-sign"></span></button></p>
                <div>
                    <label><input type="radio" name="ponderation" value="pertinence" checked> _ ponderation_pertinence</label>
                    <label><input type="radio" name="ponderation" value="date"> _ ponderation_date</label>
                </div>
            </div>
            <div class="col-sm-3">
                <p>_ periode_title<br/><button data-scrutari-action="showModal" data-scrutari-target="help_periode" type="button" class="btn btn-primary btn-xs" title="_ periode_help"><span class="glyphicon glyphicon-question-sign"></span></button></p>
                <div>
                    <input type="text" name="periode" value="" size="20">
                </div>
            </div>
        </div>
    </div>
</div>