<div class="panel panel-default scrutari-panel-Div scrutari-Hidden" data-scrutari-panel="lang">
    <div class="panel-heading scrutari-panel-Heading">
        <p class="panel-title scrutari-panel-Title" style="cursor: pointer;" data-toggle="collapse" data-target="[data-scrutari-block='langPanelBody']">
            <span class="glyphicon glyphicon-filter"></span> _ title_filter_lang <span data-scrutari-label="langFilter" class="small scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
        </p>
    </div>
    <div class="panel-body scrutari-panel-WithTools collapse" data-scrutari-block="langPanelBody">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-sm">
                        <button type="button" data-scrutari-action="enablePanel" data-scrutari-target="lang" class="btn btn-primary" data-toggle="button" data-scrutari-state="off">
                            <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button type="button" data-scrutari-action="checkAll" data-scrutari-target="lang" class="btn btn-primary" disabled>_ button_check_all</button>
                        <button type="button" data-scrutari-action="uncheckAll" data-scrutari-target="lang" class="btn btn-primary" disabled>_ button_uncheck_all</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
            <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
            <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
            <div class="col-sm-3 scrutari-panel-ColumnDisabled" data-scrutari-group="langColumns"></div>
        </div>
    </div>
</div>