<form data-scrutari-form="subsearch" role="search">
    <p class="scrutari-subsearch-Title">_ title_subsearch</p>
    <div class="scrutari-subsearch-Form">
        <input type="search"  size="50" name="q">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> <span>_ button_subsearch</span>
        </button>
    </div>
</form>