button[data-scrutari-action='parametersDisplay'] {
width: 100%;
}

.modal-title {
font-size: 1.3em;
}


/*****************************************************
* .scrutari-area
******************************************************/

.scrutari-area-Title {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;	
}

.scrutari-area-Poweredby {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}


/*****************************************************
* .scrutari-history
******************************************************/
.scrutari-history-Block {
padding-left: 3px;
border-left-style: solid;
border-left-width: 1px;
border-left-color: #515151;
}


/*****************************************************
* .scrutari-panel
******************************************************/

.scrutari-panel-Div {
margin-bottom: 0;
}

.scrutari-panel-Heading {
padding-top : 5px;
padding-bottom: 5px;
}

.scrutari-panel-WithTools {
padding-top : 3px;
}

.scrutari-panel-Title {
font-size: 1.0em;
line-height: 1.1;
cursor: pointer;
}

.scrutari-panel-Title > .scrutari-Disabled {
color: grey;
}

.scrutari-panel-Title > .scrutari-panel-Active {
color: green;
}

[data-scrutari-block="optionsPanelBody"] p {
    margin: 6px;
}

[data-scrutari-block="optionsPanelBody"] label {
    display: block;
}


/*****************************************************
* .scrutari-stats
******************************************************/

.scrutari-stats-Table {
    margin-bottom: 5px;
}

.scrutari-stats-Titles {
    font-size: 0.9em;
    padding-left: 10px;
}

.scrutari-stats-Number {
    padding-left: 10px;
    padding-right: 3px;
}


/*****************************************************
* .scrutari-subsearch
******************************************************/

.scrutari-subsearch-Title {
margin-top: 0;
margin-bottom: 0;
}
.scrutari-subsearch-Form {
margin-top: 0;
margin-bottom: 25px;
}