{{if _bythesaurusArray}}
    {{for _bythesaurusArray}}
    <p class="scrutari-fiche-Motcle">
        <span class="scrutari-label-Motcle">
            {{> thesaurus.title}}{{>~scrutari_loc("_ colon")}}
        </span>
        {{for motcleArray ~len=motcleArray.length}}
            {{if mlabelArray}}{{for mlabelArray}}{{if #index > 0}}/{{/if}}{{:~scrutari_mark(mvalue)}}{{/for}}{{/if}}{{if #index != (~len -1)}}, {{/if}}
        {{/for}}
    </p>
    {{/for}}
{{/if}}
