<p class="scrutari-fiche-Titre">
    <a href="{{:href}}"
       class="scrutari-fiche-Link"
       data-scrutari-link="fiche_{{:codefiche}}"
       {{if _target}} target="{{:_target}}"{{/if}}>
    {{if mtitre}}
        {{:~scrutari_mark(mtitre)}}
    {{else}}
        {{:href}}
    {{/if}}
    </a>
</p>
