{{if _thumbnail}}
    <div class="scrutari-fiche-Thumbnail">
        <img class="scrutari-fiche-ThumbnailImg" alt="" src="{{:_thumbnail}}"/>
    {{if _icon}}
        <img class="scrutari-fiche-ThumbnailIcon" alt="" src="{{:_icon}}"/>
    {{/if}}
    </div>
{{else _icon}}
    <div class="scrutari-fiche-Icon"><img alt="" src="{{:_icon}}"/></div>
{{/if}}
