{{!-- fiche Object (API + properties added by client.completeFiche)--}}
<div class="scrutari-fiche-Block" data-scrutari-block="fiche-{{:codefiche}}">
{{include tmpl="fiche_icon" /}}
<div class="scrutari-fiche-Body {{if _thumbnail}}scrutari-fiche-ThumbnailBody{{/if}}">
    {{for _bodyTemplateArray ~fiche=#data}}
        {{include ~fiche tmpl=~scrutari_client.getTemplate(#data) /}}
    {{/for}}
</div>
</div>
