{{if _motcleArray}}
    <p class="scrutari-fiche-Motcle">
        <span class="scrutari-label-Motcle">
            {{if _motcleArray.length == 1}}
                {{>~scrutari_loc("_ fiche_motscles_one")}}
            {{else}}
                {{>~scrutari_loc("_ fiche_motscles_many")}}
            {{/if}}
        </span>
    {{for _motcleArray ~len=_motcleArray.length}}
        {{if mlabelArray}}{{for mlabelArray}}{{if #index > 0}}/{{/if}}{{:~scrutari_mark(mvalue)}}{{/for}}{{/if}}{{if #index != (~len -1)}}, {{/if}}
    {{/for}}
    </p>
{{/if}}
