{{if mcomplementArray}}
    {{for mcomplementArray}}
    <p class="scrutari-fiche-Complement">
        <span class="scrutari-label-Complement">
        {{>title}}{{>~scrutari_loc("_ colon")}}
        </span>
        {{:~scrutari_mark(mvalue)}}
    </p>
    {{/for}}
{{/if}}
