<div data-scrutari-block="{{:name}}" class="scrutari-history-Block scrutari-history-Active">
    <div class="scrutari-history-Search">
        <button data-scrutari-action="loadHistory" data-scrutari-target="{{:name}}" class="scrutari-history-Load" {{if fichestat == 0}}disabled="disabled"{{/if}}>
        {{>sequence}} ({{:fichestat}})
        </button>
        <button data-scrutari-action="removeHistory" data-scrutari-target="{{:name}}" class="scrutari-history-Remove" title="{{>~scrutari_loc('_ button_remove')}}"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="scrutari-history-Subsearch" data-scrutari-component="subsearch"></div>
</div>