<p><em>{{>~scrutari_loc("_ result_none")}}</em></p>
{{if withFilter}}
<p><em>{{>~scrutari_loc("_ result_fitlerwarning")}}</em></p>
{{/if}}
{{if searchUnit.notfoundArray.length > 0}}
<p>{{>~scrutari_loc("_ result_notfound")}}{{>~scrutari_loc("_ colon")}}</p>
<ul>
    {{for searchUnit.notfoundArray}}
    <li>
        {{> text}}
        {{if neighbourArray.length > 0}}
        <small>(<em>{{>~scrutari_loc("_ result_neighbourlist")}}{{>~scrutari_loc("_ colon")}}</em> {{for neighbourArray ~len=neighbourArray.length}}{{> neighbour}}{{if #index != (~len -1)}}, {{/if}}{{/for}})</small>
        {{else}}
        <small>(<em>{{>~scrutari_loc("_ result_noneighbour")}}</em>)</small>
        {{/if}}
    </li>
    {{/for}}
</ul>
{{/if}}