<div class="scrutari-group-List" role="tablist">
{{for array}}
    <button role="tab" class="scrutari-group-Tab" {{if active}}disabled{{/if}} data-scrutari-action="ficheGroupTab" {{if description}}title="{{>description}}"{{/if}}
            data-scrutari-target="{{:name}}">
                {{>title}} ({{:fichestat}})
    </button>
{{/for}}
</div>
{{for array}}
<div class="scrutari-group-Content {{if !active}}scrutari-Hidden{{/if}}"  data-scrutari-block="ficheGroup-{{:name}}" data-scrutari-name="{{:name}}">
    <div data-scrutari-block="topTabs-{{:name}}"></div>
    <div data-scrutari-block="ficheList-{{:name}}"></div>
    <div data-scrutari-block="bottomTabs-{{:name}}"></div>
</div>
{{/for}}