<div class="scrutari-pagination-TabList">
    {{for tabArray}}
        {{if state==='active'}}
        <button class="scrutari-pagination-Tab" disabled>{{>title}}</button>
        {{else state==='etc'}}
        <span class="scrutari-pagination-Etc">{{>title}}</span>
        {{else}}
        <button
               class="scrutari-pagination-Tab"
               role="tab"
               data-scrutari-action="paginationTab"
               data-scrutari-type="{{:~root.type}}"
               data-scrutari-position="{{:~root.position}}"
               data-scrutari-number="{{:number}}"
               {{if ~root.ficheGroupName}} data-scrutari-fiche-group-name="{{:~root.ficheGroupName}}"{{/if}}>{{>title}}</button>
        {{/if}}
    {{/for}}
</div>