<div data-scrutari-block="{{:name}}" class="scrutari-history-Block scrutari-history-Active">
    <button type="button" data-scrutari-action="removeHistory" data-scrutari-target="{{:name}}" class="close" title="{{>~scrutari_loc('_ button_remove')}}"><span aria-hidden="true">&times;</span><span class="sr-only">{{>~scrutari_loc("_ button_remove")}}</span></button>
    {{if fichestat > 0}}<a href="javascript:load_{{:name}}" data-scrutari-action="loadHistory" data-scrutari-target="{{:name}}">{{/if}}
    {{>sequence}} ({{:fichestat}})
    {{if fichestat > 0}}</a>{{/if}}
    <br/><span data-scrutari-component="subsearch"></span>
</div>
