<ul class="nav nav-tabs" role="tablist">
{{for array}}
    <li  class="{{if active}}active{{/if}}">
        <a role="tab" data-toggle="tab" {{if description}}title="{{>description}}"{{/if}} href="javascript:load_group_{{:name}}"
            data-target="[data-scrutari-block='ficheGroup-{{:name}}']">
                {{>title}} ({{:fichestat}})
        </a>
    </li>
{{/for}}
</ul>
<div class="tab-content">
{{for array}}
<div class="tab-pane{{if active}} active{{/if}}"  data-scrutari-block="ficheGroup-{{:name}}">
    <div data-scrutari-block="topTabs-{{:name}}"></div>
    <div data-scrutari-block="ficheList-{{:name}}"></div>
    <div data-scrutari-block="bottomTabs-{{:name}}"></div>
</div>
{{/for}}
</div>