body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.4em;
}

main {
    margin-left: 75px;
    padding: 10px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2.2em;
    text-align: left;
    margin-bottom: 80px;
}

h2 {
    font-size: 1.75em;
    margin-top: 40px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3 {
    font-size: 1.5em;
    margin-top: 50px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.1em;
}

nav {
    right: 10px;
    top: 20px;
    position: fixed;
    
    width: 150px;
    z-index: 200;
    background-color: #fff;
    padding: 5px;
}

nav > div {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

nav > div > div {
    padding-bottom: 5px;
}

nav ul {
    margin: 0;
    padding-left: 15px;
    list-style: none;
    font-size: small;
}

nav > div > ul {
    padding-left: 0;
}

nav a, nav a:visited {
    color: #05a;
}


/*******************************************************************************
* .jsdoc-
*******************************************************************************/

.jsdoc-Attributes {
    color: #a50;
}

.jsdoc-Chapter {
    margin-left: 35px;
}

.jsdoc-Class {
    margin-left: 25px;
}

.jsdoc-ClassDescription {
    width: 850px;
}

.jsdoc-Function {
    border-bottom: 1px solid #ccc;
    /*padding-bottom: 10px;*/
}

.jsdoc-Function:last-child {
    border-bottom: none;
}

.jsdoc-Function > summary {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-left: 10px;
}

.jsdoc-Function > summary:hover {
    cursor: pointer;
}

.jsdoc-List {
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

.jsdoc-ListTitle {
    margin-top: 30px;
    font-size: smaller;
    margin-left: 45px;
    margin-right: 25px;
    margin-bottom: 0;
    padding: 4px 12px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    top: 1px;
    background-color: #f5f5f5;
    display: inline-block;
    z-index: 10;
}

.jsdoc-Table {
    border-collapse: collapse;
}

.jsdoc-Table, .jsdoc-Table td, .jsdoc-Table th {
    border: 1px solid #ccc;
}

.jsdoc-Table caption {
    margin-left: 10px;
    text-align: left;
}

.jsdoc-Table td {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.jsdoc-Table th {
    background-color: #f5f5f5;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}

.jsdoc-Text {
    display: block;
    max-width: 850px;
}


/*******************************************************************************
* .function-
*******************************************************************************/

.function-Description {
    margin-left: 30px;
    font-size: smaller;
    padding-bottom: 20px;
    overflow: auto;
}

.function-ShortDescription {
    font-size: smaller;
    display: block;
    background-color: #fff;
    padding-left: 30px;
    margin-top: 10px;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.function-Signature {
    font-family: monospace;
    font-size: 1.1em;
}

.function-Signature:last-child::after {
    content: "";
    display: block;
    padding-bottom: 10px;
}

.function-table-Parameters, function-table-Returns {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*******************************************************************************
* .member-
*******************************************************************************/

.member-Table {
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    font-size: smaller;
}

.member-Table, .member-Table td {
    border: 1px solid #ccc;
}

.member-Table td {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.member-Table th {
    background-color: #f5f5f5;
    text-align: left;
    padding-left: 5px;
    padding-right: 25px;
    font-weight: normal;
    padding-top: 10px;
    border: none;
}

/*******************************************************************************
* .syntax-
*******************************************************************************/

.syntax-Function {
    color: #555;
    font-weight: bold;
    /*font-size: larger;*/
}

.syntax-Operator {
     color: #e80;
}

.syntax-Param {
    color: #111;
}

.syntax-Type_apiobject {
    color: #f50;
}

.syntax-Type_boolean {
    color: #085;
}

.syntax-Type_function {
    color: #708;
}

.syntax-Type_jquery {
    color: #f0f;
}

.syntax-Type_module {
    color: #05a;
    font-style: italic;
}

.syntax-Type_new {
    color: #085;
}

.syntax-Type_number {
    color: #090;
    font-style: italic;
}

.syntax-Type_standard {
    color: #f0f;
    font-style: italic;
}

.syntax-Type_string {
    color: #a11;
    font-style: italic;
}

.syntax-Type_void {
    color: #997;
    font-style: italic;
}


/*******************************************************************************
* .typedef-
*******************************************************************************/

.typedef-Description {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.typedef-Details {

}

.typedef-Details > summary:hover {
    cursor: pointer;
}

.typedef-Table {
    margin-top: 10px;
}
