<p>La configuraci&oacute;n de la prioridad en la clasificaci&oacute;n va a influir el orden de presentaci&oacute;n de los resultados&nbsp;:</p><ul>
    <li>
        <p>
            <strong>Clasificaci&oacute;n por pertinencia&nbsp;:</strong> se otorga la prioridad a las referencias que contienen los t&eacute;rminos buscados en los campos principales (t&iacute;tulo, subt&iacute;tulo) m&aacute;s que en los campos secundarios con una prima cuando se encuentran tambi&eacute;n en las palabras-claves.
        </p>
        <p>La fecha cumple sin embargo un papel para las prioridades en las notas de pertinencia cercanas. E incluso, en el caso donde los motores act&uacute;an en varias bases de datos, la clasificaci&oacute;n puede verse ligeramente alterada para evitar series de referencias demasiado largas desde una sola base.</p>
    </li>
    <li>
        <p>
            <strong>Clasificaci&oacute;n por fecha&nbsp;:</strong> como su nombre lo indica, se colocan las referencias las m&aacute;s recientes en primer lugar, la pertinencia cumple un papel de &aacute;rbitro para las fechas cercanas; las referencias sin fecha se encuentran al final.
        </p>
    </li>
</ul>
