<p>
    <strong>B&uacute;squeda simple (Opciones </strong><em><strong>Y</strong></em><strong>&nbsp;/ </strong><em><strong>O)</strong></em><strong>:</strong> Los espacios sirven de delimitadores a las palabras de la b&uacute;squeda ; si la opci&oacute;n <em>Y</em> est&aacute; seleccionada, una referencia tendr&aacute; que poseer todas las palabras de la b&uacute;squeda ; si la opci&oacute;n es <em>O</em>, una referencia tendr&aacute; que poseer por lo menos una de ellas.
</p><p>
    El asterisco <kbd>*</kbd> es el car&aacute;cter que indica que la palabra est&aacute; truncada&nbsp;:
</p><ul>
    <li>
        <p>
            <kbd>gob*</kbd>&nbsp;: todas las palabras que empiezan por &ldquo;gob&rdquo;
        </p>
    </li>
    <li>
        <p>
            <kbd>*log&iacute;a</kbd>&nbsp;: todas las palabras que terminan por &ldquo;logia&rdquo;
        </p>
    </li>
    <li>
        <p>
            <kbd>*eco*</kbd>&nbsp;: todas las palabras que contienen &ldquo;eco&rdquo;
        </p>
    </li>
</ul><p>
    Si la opci&oacute;n&nbsp;:<em>&ldquo;*&rdquo;, a&ntilde;adida en forma autom&aacute;tica al final de las palabras</em> est&aacute; marcada con una cruz, se considera que todas las palabras est&aacute;n truncadas a la derecha (excepto si est&aacute;n entre comillas).
</p><p>Se utiliza las comillas inglesas para indicar una secuencia de palabras. Es posible indicar truncamientos dentro de las comillas&nbsp;:</p><ul>
    <li>
        <p>
            <kbd>"agricultura biol&oacute;gica"</kbd>&nbsp;: ignora el t&eacute;rmino agricultura si no est&aacute; seguido de biol&oacute;gica
        </p>
    </li>
    <li>
        <p>
            <kbd>"part"</kbd>&nbsp;: busca &uacute;nicamente en la palabra &ldquo;part&rdquo;incluso si la opci&oacute;n de asterisco a la derecha autom&aacute;tica est&aacute; activada
        </p>
    </li>
    <li>
        <p>
            <kbd>"pol*pub*"</kbd>&nbsp;: busca las secuencias de una palabra que empieza por &ldquo;pol&rdquo; seguida de una palabra que empieza por &ldquo;pub&rdquo;
        </p>
    </li>
</ul><p>Finalmente se aplican las reglas siguientes&nbsp;:</p><ul>
    <li>
        <p>la b&uacute;squeda no toma en cuenta los acentos ni las may&uacute;sculas</p>
    </li>
    <li>
        <p>se ignoran los caracteres distintos de las letras y las cifras</p>
    </li>
    <li>
        <p>el motor de b&uacute;squeda no propone correcciones de los errores de tipeo y de ortograf&iacute;a</p>
    </li>
    <li>
        <p>el motor de b&uacute;squeda no indexa en las referencias las palabras de una o dos letras, as&iacute; como las palabras corrientes que no tienen significado en s&iacute; en uno u otro idioma (se ignorar&aacute;n&ldquo;los/las, con, por&rdquo;en castellano, &ldquo;the&rdquo; se ignora en ingl&eacute;s pero no en franc&eacute;s (b&uacute;squeda sobre el t&eacute; (th&eacute;) en franc&eacute;s)</p>
    </li>
</ul><p>
    <br>
    <strong>B&uacute;squeda avanzada (Opci&oacute;n &ldquo;Avanzada&rdquo;)</strong>&nbsp;: la b&uacute;squeda avanzada retoma los principios de la b&uacute;squeda de palabras por la sintaxis de las palabras (asterisco* para las palabras truncadas, comillas para las secuencias) pero el espacio ya no sirve para separar, se utilizan en su lugar tres operadores&nbsp;:
</p><ul>
    <li>
        <p>
            <kbd>&amp;&amp;</kbd>&nbsp;: Y
        </p>
    </li>
    <li>
        <p>
            <kbd>||</kbd>&nbsp;: O
        </p>
    </li>
    <li>
        <p>
            <kbd>!</kbd>&nbsp;: No
        </p>
    </li>
</ul><p>Se utilizan los par&eacute;ntesis para formar grupos l&oacute;gicos.</p><p>Ejemplos&nbsp;:</p><ul>
    <li>
        <p>
            <kbd>agricultura &amp;&amp; !biologica</kbd>&nbsp;: busca las referencias que contienen una palabra que empieza por agricultura y que no contienen una palabra empezando por biol&oacute;gica
        </p>
    </li>
    <li>
        <p>
            <kbd>agricultura &amp;&amp; !(biologica||pais)</kbd>&nbsp;: busca las referencias que contienen una palabra que empieza por agricultura y no contienen una palabra empezando por biol&oacute;gica ni una una palabra empezando por pa&iacute;s
        </p>
    </li>
</ul><p>Todo error de sintaxis (incluso la utilizaci&oacute;n de caracteres distintos de letras y cifras no autorizadas, el espacio para separar a palabras que no est&aacute;n entre comillas) provoca un mensaje de error.</p><p>Es posible reducir para una palabra la b&uacute;squeda a un campo dado colocando un prefijo a esta palabra. Los prefijos posibles son&nbsp;:</p><ul>
    <li>
        <p>
            <em>titulo:</em> = s&oacute;lo en los t&iacute;tulos
        </p>
    </li>
    <li>
        <p>
            <em>subtitulo:</em> = s&oacute;lo en los subt&iacute;tulos
        </p>
    </li>
    <li>
        <p>
            <em>palabraclave:</em> = s&oacute;lo en las palabras claves
        </p>
    </li>
    <li>
        <p>
            <em>suplemento:</em> = en los campos &ldquo;suplementarios&rdquo; (los campos complementarios y los atributos)
        </p>
    </li>
    <li>
        <p>
            todo nombre de atributo seguido de <em>:</em> definido por el motor de b&uacute;squeda (por ejemplo, <em>sct:authors:</em> pero esto depende del motor utilizado)
        </p>
    </li>
</ul><p>Ejemplos:</p><ul>
    <li>
        <p>
            <kbd>titulo:gobernanza</kbd>&nbsp;: la palabra &ldquo;gobernanza&rdquo; s&oacute;lo en el t&iacute;tulo
        </p>
    </li>
    <li>
        <p>
            <kbd>sct:authors:"Garcia Marquez"</kbd>&nbsp;: B&uacute;squeda sobre el autor Garc&iacute;a M&aacute;rquez (si el atributo sct:authors est&aacute; definido en dicho motor)
        </p>
    </li>
    <li>
        <p>
            <kbd>titulo:pol*&amp;&amp;!sct:authors:G&oacute;mez</kbd>&nbsp;: referencia con una palabra que empieza por &ldquo;pol&rdquo;en el t&iacute;tulo y cuyo autor no es G&oacute;mez
        </p>
    </li>
</ul><p>
    V&eacute;ase <a href="http://www.scrutari.net/dokuwiki/serveurscrutari:json:qsyntax" hreflang="fr" target="_blank" rel="external">Sintaxis de una b&uacute;squeda</a> en el sitio Scrutari (en franc&eacute;s)
</p>
