<p>Este campo permite conservar s&oacute;lo las referencias que corresponden a un per&iacute;odo dado. Es posible indicar&nbsp;:</p><ul>
    <li>
        <p>
            un a&ntilde;o preciso&nbsp;: <kbd>2014</kbd>
        </p>
    </li>
    <li>
        <p>
            un per&iacute;odo que abarca varios a&ntilde;os utilizando una / como separador&nbsp;: <kbd>2000/2011</kbd>
        </p>
    </li>
    <li>
        <p>
            un mes preciso&nbsp;: <kbd>2014-01</kbd>
        </p>
    </li>
    <li>
        <p>
            un per&iacute;odo que empieza o se termina en un mes preciso&nbsp;: <kbd>2013/2014-04</kbd>
        </p>
    </li>
    <li>
        <p>
            varios per&iacute;odos distintos separ&aacute;ndolos por <kbd>||</kbd> (operador &ldquo;O&rdquo;): <kbd>2001/2002||2005||2012-11</kbd>
        </p>
    </li>
</ul><p>Notaremos que suele ocurrir que, para une referencia, s&oacute;lo se conoce el a&ntilde;o; en ciertas configuraciones, la indicaci&oacute;n de un mes puede provocar una falta de resultados.</p>
