<p>La configuration de la priorit&eacute; dans le classement va influer sur l&rsquo;ordre d&rsquo;affichage des r&eacute;sultats&nbsp;:</p><ul>
    <li>
        <p>
            <strong>Classement par pertinence&nbsp;:</strong> la priorit&eacute; est donn&eacute;e aux r&eacute;f&eacute;rences contenant les termes recherch&eacute;s dans les champs principaux (titre, sous-titre) plut&ocirc;t que dans les champs secondaires avec une prime lorsqu&rsquo;ils se trouvent &eacute;galement dans les mots-cl&eacute;s.
        </p>
        <p>La date joue tout de m&ecirc;me un r&ocirc;le pour d&eacute;partager des notes de pertinence proches. En outre, dans le cas des moteurs sur plusieurs bases, le classement peut &ecirc;tre l&eacute;g&egrave;rement alt&eacute;r&eacute; pour &eacute;viter d&rsquo;avoir de trop longues s&eacute;ries de r&eacute;f&eacute;rences venant d&rsquo;une seule base.</p>
    </li>
    <li>
        <p>
            <strong>Classement par date&nbsp;:</strong> comme son nom l&rsquo;indique, les r&eacute;f&eacute;rences les plus r&eacute;centes sont plac&eacute;es en premier, la pertinence jouant un r&ocirc;le d&rsquo;arbitre pour les dates proches ; les r&eacute;f&eacute;rences non dat&eacute;es se retrouvent &agrave; la fin.
        </p>
    </li>
</ul>
