<p>Ce champ permet de ne conserver que les r&eacute;f&eacute;rences correspondant &agrave; une p&eacute;riode donn&eacute;e. Il est possible d&rsquo;indiquer&nbsp;:</p><ul>
    <li>
        <p>
            une ann&eacute;e pr&eacute;cise&nbsp;: <kbd>2014</kbd>
        </p>
    </li>
    <li>
        <p>
            une p&eacute;riode s&rsquo;&eacute;talant sur plusieurs ann&eacute;es en utilisant la barre oblique <kbd>/</kbd> comme s&eacute;parateur&nbsp;: <kbd>2000/2011</kbd>
        </p>
    </li>
    <li>
        <p>
            un mois pr&eacute;cis&nbsp;: <kbd>2014-01</kbd>
        </p>
    </li>
    <li>
        <p>
            une p&eacute;riode commen&ccedil;ant ou s&rsquo;arr&ecirc;tant &agrave; un mois pr&eacute;cis&nbsp;: <kbd>2013/2014-04</kbd>
        </p>
    </li>
    <li>
        <p>
            plusieurs p&eacute;riodes diff&eacute;rentes en les s&eacute;parant par deux barres verticales <kbd>||</kbd> (op&eacute;rateur &laquo; OU &raquo;)&nbsp;: <kbd>2001/2002||2005||2012-11</kbd>
        </p>
    </li>
</ul><p>On notera qu&rsquo;il est fr&eacute;quent que, pour une r&eacute;f&eacute;rence, seule l&rsquo;ann&eacute;e soit connue ; dans certaines configurations, l&rsquo;indication d&rsquo;un mois risque donc de ne donner aucun r&eacute;sultat</p>
