<p>Dieses Feld wird verwendet, um die Referenzen auf diejenigen zu beschr&auml;nken, die einem bestimmten Zeitraum entsprechen. Es ist m&ouml;glich zu spezifizieren:</p><ul>
    <li>
        <p>
            Ein bestimmtes Jahr: <kbd>2014</kbd>
        </p>
    </li>
    <li>
        <p>
            Einen Zeitraum, der mehrere Jahre umfasst, unter Verwendung des Schr&auml;gstrichs <kbd>/</kbd> als Trennzeichen: <kbd>2000/2011</kbd>
        </p>
    </li>
    <li>
        <p>
            Einen bestimmten Monat: <kbd>2014-01</kbd>
        </p>
    </li>
    <li>
        <p>
            Einen Zeitraum, der mit einem bestimmten Monat beginnt und endet: <kbd>2013 / 2014-04</kbd>
        </p>
    </li>
    <li>
        <p>
            Mehrere verschiedene Zeitr&auml;ume, indem man sie mit zwei vertikalen Strichen || von einander trennt ("ODER" (OR) - Operator): <kbd>2001/2002 || 2005 || 2012-11</kbd>
        </p>
    </li>
</ul><p>Es ist anzumerken, dass h&auml;ufig nur das Jahr einer gegebenen Referenz bekannt ist. Das bedeutet, dass bei bestimmten Konfigurationen die Angabe des Monats keine Ergebnisse liefert.</p>
