<p>
    <strong>Einfache Suche (</strong><em><strong>Und</strong></em><strong>/ </strong><em><strong>Oder</strong></em><strong>Optionen):</strong> die Leerzeichen sind Begrenzer f&uuml;r die Suchbegriffe; Wenn die Option <em>Und</em> ausgew&auml;hlt ist, muss eine Referenz alle Suchbegriffe enthalten; Wenn die ausgew&auml;hlte Option das <em>Oder</em> ist, muss eine Referenz mindestens einen der Begriffe enthalten.
</p><p>
    Das Sternchen <kbd>*</kbd> kennzeichnet eine Trunkierung (Verk&uuml;rzung):
</p><ul>
    <li>
        <p>
            <kbd>gov*</kbd>: alle W&ouml;rter, die mit &laquo; gov &raquo; beginnen
        </p>
    </li>
    <li>
        <p>
            <kbd>*logy</kbd>: alle W&ouml;rter, die mit &laquo; logy &raquo; enden
        </p>
    </li>
    <li>
        <p>
            <kbd>*eco*</kbd>: alle W&ouml;rter die &laquo; eco &raquo; beinhalten
        </p>
    </li>
</ul><p>
    Wenn die Option <em>&laquo; * &raquo; automatisch an das Ende des Wortes</em> anh&auml;ngen aktiviert ist, werden alle W&ouml;rter eine Trunkierung rechts haben (sofern sie nicht in Anf&uuml;hrungszeichen stehen).
</p><p>Wir verwenden gerade Anf&uuml;hrungszeichen um eine Folge von W&ouml;rtern zu bestimmen. Es ist m&ouml;glich, Trunkierungen innerhalb von Anf&uuml;hrungszeichen einzugeben:</p><ul>
    <li>
        <p>
            <kbd>"organic farming"</kbd>: ignoriert den Begriff &laquo; organic &raquo;, wenn er nicht vom Begriff &laquo; farming &raquo; gefolgt wird
        </p>
    </li>
    <li>
        <p>
            <kbd>"part"</kbd>: sucht nur nach dem Wort &laquo; part &raquo;, auch wenn das automatische Sternchen rechts aktiviert ist
        </p>
    </li>
    <li>
        <p>
            <kbd>"pub* pol*"</kbd>: sucht nach Folgen eines Wortes beginnend mit &laquo; pub &raquo; und gefolgt von einem Wort beginnend mit &laquo; pol &raquo;
        </p>
    </li>
</ul><p>Es gelten folgende Regeln:</p><ul>
    <li>
        <p>Die Suche ber&uuml;cksichtigt keine Akzente und Gro&szlig;buchstaben</p>
    </li>
    <li>
        <p>Zeichen die keine Buchstaben oder Ziffern sind, werden ignoriert</p>
    </li>
    <li>
        <p>Die Suchmaschine schl&auml;gt keine Korrekturen f&uuml;r Tippfehler und Rechtschreibfehler vor</p>
    </li>
    <li>
        <p>Die Suchmaschine indexiert in den Referenzen keine W&ouml;rter mit einem oder zwei Buchstaben, wie, weit gebr&auml;uchliche W&ouml;rter, die nicht signifikant sind in einer bestimmten Sprache ("les, avec, par" wird in Franz&ouml;sisch ignoriert, &laquo; the &raquo; wird in Englisch ignoriert aber nicht nicht in Franz&ouml;sisch - um die Suche nach der Silbe &laquo; th&eacute; &raquo; zu ber&uuml;cksichtigen)</p>
    </li>
</ul><p>
    <br>
    <strong>Erweiterte Suche (Option &laquo; Erweitert &raquo; (Advanced))</strong>: Die erweiterte Suche verwendet die gleichen Prinzipien wie die einfache Syntaxsuche (Sternchen <kbd>*</kbd> f&uuml;r Trunkierungen, Anf&uuml;hrungszeichen f&uuml;r Folgen), aber das Leerzeichen ist kein Trennzeichen mehr; Stattdessen verwenden wir drei Operatoren:
</p><ul>
    <li>
        <p>
            <kbd>&amp;&amp;</kbd>: Und (And)
        </p>
    </li>
    <li>
        <p>
            <kbd>||</kbd>: Oder (Or)
        </p>
    </li>
    <li>
        <p>
            <kbd>!</kbd>: Nein (No)
        </p>
    </li>
</ul><p>Wir verwenden Klammern, um logische Gruppen zu bilden.</p><p>Beispiele:</p><ul>
    <li>
        <p>
            <kbd>farming &amp;&amp;~!organic</kbd>: sucht nach Referenzen, die ein Wort enthalten, das mit farming beginnt und keine W&ouml;rter enth&auml;lt, die mit organisch beginnen
        </p>
    </li>
    <li>
        <p>
            <kbd>farming &amp;&amp;~!(organic || country)</kbd>: sucht nach Referenzen, die ein Wort enthalten, das mit farming beginnt und weder W&ouml;rter die mit organic beginnen, noch W&ouml;rter die mit country beginnen, enth&auml;lt
        </p>
    </li>
</ul><p>Alle Syntaxfehler (einschlie&szlig;lich der Verwendung von anderen Zeichen als Zahlen, nicht zugelassene Buchstaben und Leerzeichen zum Trennen von W&ouml;rtern nicht in Anf&uuml;hrungszeichen) erzeugen eine Fehlermeldung.</p><p>Es ist m&ouml;glich, die Suche nach einem Wort auf ein gegebenes Feld durch Pr&auml;fixieren eines Begriffs zu beschr&auml;nken. M&ouml;gliche Pr&auml;fixe sind:</p><ul>
    <li>
        <p>
            <em>title:</em> (Titel) = nur in Titeln
        </p>
    </li>
    <li>
        <p>
            <em>subtitle:</em> (Untertitel) = nur in Untertiteln
        </p>
    </li>
    <li>
        <p>
            <em>keyword:</em> (Stichwort) = nur in Stichworten
        </p>
    </li>
    <li>
        <p>
            <em>additional:</em> (Zus&auml;tzlich) = in &laquo; zus&auml;tzlichen &raquo; Feldern (erg&auml;nzende Felder und Attribute)
        </p>
    </li>
</ul><p>
    Alle Attributnamen gefolgt von (all attribute names followed by)<em>:</em> durch die Suchmaschine definiert (z. B. <em>sct:authors:</em> aber es h&auml;ngt von der Suchmaschine ab)
</p><p>Beispiele:</p><ul>
    <li>
        <p>
            <kbd>title:governance</kbd>: &laquo; governance &raquo; nur im Titel
        </p>
    </li>
    <li>
        <p>
            <kbd>sct:authors</kbd>:&laquo; Victor Hugo &raquo;: Suche nach dem Autor Victor Hugo (wenn das Attribut sct:authors: richtig durch die Suchmaschine definiert ist)
        </p>
    </li>
    <li>
        <p>
            <kbd>title:pol* &amp;&amp;~!sct:authors:Smith</kbd>: Referenz mit einem Wort, das mit &laquo; pol &raquo; im Titel beginnt und dessen Autor nicht Smith ist
        </p>
    </li>
</ul><p>
    Siehe <a href="http://www.scrutari.net/dokuwiki/serveurscrutari:json:qsyntax" target="_blank" rel="external">Suche Syntax auf der Scrutari-Website</a> (auf franz&ouml;sisch)
</p>
