<p>Die Konfiguration der Rangfolgepriorit&auml;t beeinflusst die Reihenfolge der angezeigten Ergebnisse folgenderma&szlig;en:</p><ul>
    <li>
        <p>
            <strong>Rangfolge nach Relevanz:</strong> Vorrang erhalten jene Referenzen, die die Suchbegriffe in den Hauptfeldern (Titel, Untertitel) anstatt in den sekund&auml;ren Feldern beinhalten, und mit Vorrang, wenn sie auch in den Stichworten vorhanden sind.
        </p>
        <p>Das Datum spielt jedoch eine Rolle bei der Entscheidung zwischen gleichen Rangfolgen von Relevanz. Dar&uuml;ber hinaus, wenn Suchmaschinen mehrere Datenbanken absuchen, die Rangfolge k&ouml;nnte sich leicht &auml;ndern, um &uuml;berm&auml;&szlig;ig lange Reihen von Referenzen aus der gleichen Datenbank zu vermeiden;</p>
    </li>
    <li>
        <p>
            <strong>Rangfolge nach Datum:</strong> Wie durch den Namen erkl&auml;rt, ist das der Fall, wenn die j&uuml;ngsten Referenzen zuerst positioniert sind, mit der Relevanz als den entscheidenden Faktor, wenn das Datum sehr &auml;hnlich ist; Referenzen ohne Datum erscheinen am Ende.
        </p>
    </li>
</ul>
