<div data-scrutari-area="input" class="scrutari-area-Input">
    <div>
        <input type="search" size="40" name="q" value="">
        <button type="submit">_ button_submit</button>
    </div>
    <button type="button" data-scrutari-action="parametersDisplay" class="scrutari-Hidden" data-scrutari-state="off">
        _ button_parameters
    </button>
</div>
