<div class="scrutari-area-Poweredby scrutari-Hidden" data-scrutari-hidden="empty">
    <p>
        <a href="http://www.scrutari.net" target="_blank">
            <span class="scrutari-icon-Logo"></span> _ link_poweredby
        </a>
    </p>
</div>