<div data-scrutari-area="parameters" class="scrutari-area-Parameters scrutari-Hidden">
    {{panel-options}}
    {{panel-corpus}}
    {{panel-base}}
    {{panel-lang}}
    {{panel-category}}
    <div class="scrutari-area-Resubmit">
        <button type="submit">_ button_resubmit</button>
    </div>
</div>