<div data-scrutari-area="result" class="scrutari-area-Result">
    <div data-scrutari-block="paginationBlock"></div>
    <div>
        {{result-links}}
    </div>
    <div>
        {{result-history}}
    </div>
    <div>
        {{result-subsearch}}
    </div>
</div>