<details class="scrutari-Hidden" data-scrutari-panel="category">
    <summary>
        _ title_filter_category <span data-scrutari-label="categoryFilter" class="scrutari-panel-State scrutari-Disabled" data-scrutari-alternate="_ filter_on">_ filter_off</span>
    </summary>
    <div>
        <div class="scrutari-panel-Toolbar">
            <span class="scrutari-panel-ButtonGroup">
                <button type="button" data-scrutari-action="enablePanel" data-scrutari-target="category" data-scrutari-state="off">
                    <span data-scrutari-alternate="_ button_filter_off">_ button_filter_on</span>
                </button>
            </span>
            <span class="scrutari-panel-ButtonGroup">
                <button type="button" data-scrutari-action="checkAll" data-scrutari-target="category" disabled>_ button_check_all</button>
                <button type="button" data-scrutari-action="uncheckAll" data-scrutari-target="category" disabled>_ button_uncheck_all</button>
            </span>
        </div>
        <div class="scrutari-panel-Columns scrutari-Disabled" data-scrutari-block="columnsBlock-category">
            <div></div>
            <div></div>
            <div></div>
            <div></div>                
        </div>
    </div>
</details>