<details data-scrutari-panel="options">
    <summary>
        _ title_options
    </summary>
    <div>
        <div class="scrutari-panel-Columns">
            <div>
                <p><span>_ mode_title</span><button data-scrutari-action="showModal" data-scrutari-target="help_mode" type="button" title="_ mode_help">?</button></p>
                <div>
                    <label><input type="radio" name="q-mode" value="intersection" checked> _ mode_intersection</label>
                    <label><input type="radio" name="q-mode" value="union"> _ mode_union</label>
                    <label><input type="radio" name="q-mode" value="operation"> _ mode_operation</label>
                    <label><input type="checkbox" name="wildchar" value="end" checked> _ wildchar_end</label>
                </div>
            </div>
            <div>
                <p><span>_ ponderation_title</span><button data-scrutari-action="showModal" data-scrutari-target="help_ponderation" type="button" title="_ ponderation_help">?</button></p>
                <div>
                    <label><input type="radio" name="ponderation" value="pertinence" checked> _ ponderation_pertinence</label>
                    <label><input type="radio" name="ponderation" value="date"> _ ponderation_date</label>
                </div>
            </div>
            <div>
                <p><span>_ periode_title</span><button data-scrutari-action="showModal" data-scrutari-target="help_periode" type="button" title="_ periode_help">?</button></p>
                <div>
                    <input type="text" name="periode" value="" size="20">
                </div>
            </div>
        </div>
    </div>
</details>