<div class="scrutari-Hidden" data-scrutari-hidden="empty">
    <p class="scrutari-links-Title">_ title_share</p>
    <p class="scrutari-links-Permalink">
        <a href="#" data-scrutari-link="permalink" target="_blank" title="_ link_permalink" >
            <span data-scrutari-label="permalinkValue"></span>
        </a>
    </p>
    <p class="scrutari-links-Title">_ title_download</p>
    <p>
        <a href="#" data-scrutari-link="ods" target="_blank" title="_ link_ods" class="scrutari-links-ButtonLike">ods</a>
        <a href="#" data-scrutari-link="csv" target="_blank" title="_ link_csv" class="scrutari-links-ButtonLike">csv</a>
    </p>
    <p class="scrutari-links-Title">_ title_feed</p>
    <p>
        <a href="#" data-scrutari-link="atom" target="_blank" title="_ link_atom" class="scrutari-links-ButtonLike">atom</a>
    </p>
</div>