<div class="scrutari-Hidden" data-scrutari-hidden="threshold">
    <form data-scrutari-form="subsearch" role="search">
        <p class="scrutari-subsearch-Title">_ title_subsearch</p>
        <div class="scrutari-subsearch-Form">
            <input type="search" size="40" name="q">
            <button type="submit">_ button_subsearch</button>
        </div>
    </form>
</div>