<tr class="scrutari-Hidden" data-scrutari-hidden="start" data-scrutari-count="stats-result"> 
    <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_result_title">_ stats_result_short</abbr></td>
    <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-component="value"></span></td>
</tr>