<tr class="scrutari-Hidden" data-scrutari-hidden="init" data-scrutari-count="stats-global">
    <td class="scrutari-stats-Cell"><abbr class="scrutari-stats-Abbr" title="_ stats_global_title">_ stats_global_short</abbr></td>
    <td class="scrutari-stats-Cell scrutari-stats-Number"><span class="scrutari-stats-Count" data-scrutari-component="value"></span></td>
</tr>