/*****************************************************
* .scrutari
******************************************************/

.scrutari-Disabled {
    color: grey;
}

.scrutari-Excluded {
    text-decoration: line-through;
    color: grey;
}

.scrutari-Hidden {
    display: none !important;
}


/*****************************************************
* .scrutari-fiche
******************************************************/

.scrutari-fiche-AttributeValue::before {
    content: '… ';
}

.scrutari-fiche-AttributeValue::after {
    content: ' …';
}

.scrutari-fiche-Body {
    margin-left: 21px;
}

.scrutari-fiche-Body.scrutari-fiche-ThumbnailBody {
    margin-left: 110px;
}

.scrutari-fiche-Body::after {
    content: '';
    display: block;
    clear: left;
}

.scrutari-fiche-Icon {
    float: left;
    margin-top: 0;
}

.scrutari-fiche-Thumbnail {
    float: left;
    margin-top: 0;
    position: relative;
}

.scrutari-fiche-ThumbnailImg {
    max-width: 100px;
}

.scrutari-fiche-ThumbnailIcon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-right-color: #fff;
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #fff;
    border-bottom-right-radius: 2px;
    z-index: 100;
}


/*****************************************************
* .scrutari-icon
******************************************************/

.scrutari-icon-Loader {
    background-image: url("images/ajax-loader.gif");
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.scrutari-icon-Logo {
    background-image: url("images/logo-scrutari.png");
    position: relative;
    bottom: -10px;
    display: inline-block;
    width: 32px;
    height: 32px;
}


/*****************************************************
* .scrutari-panel
******************************************************/

.scrutari-panel-Active {
    color: green;
}

.scrutari-panel-Columns.scrutari-Disabled {
    opacity: 0.5;
}

.scrutari-panel-Icon {
    vertical-align: baseline;
}


/*******************************************************************************
* .scrutari-overlay- v 0.4.2
*******************************************************************************/

.scrutari-overlay-Component_blocker {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;  height: 100%;
    overflow: hidden;
    z-index: 10000;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrutari-overlay-Component_content {
    min-width: 20vw;
    max-width: 90vw;
    max-height: 70vh;
    overflow: auto;
}

.scrutari-overlay-Component_dialog {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
}

.scrutari-overlay-Component_header {
    min-height: 10px;
}

.scrutari-overlay-Waiting {
    cursor: wait;
}


/*****************************************************
* .scrutari-stats
******************************************************/

.scrutari-stats-Abbr {
    text-decoration: none;
}

.scrutari-stats-Filter {
    color: green;
}

.scrutari-stats-None {
    color: red;
}

.scrutari-stats-Cell {
    vertical-align: baseline;
}

.scrutari-stats-Number {
    text-align: right;
}