<p>Configuration of ranking priority will affect the order results are displayed in:</p><ul>
    <li>
        <p>
            <strong>ranking by relevance:</strong> priority is given to references containing the search terms in the main fields (title, subtitle) rather than secondary fields, with a premium when it is also present in the keywords.
        </p>
        <p>The date does, however, play a role in deciding on similar ratings by relevance. In addition, when engines search several databases, ranking may be slightly altered to avoid overly long series of references from the same database;</p>
    </li>
    <li>
        <p>
            <strong>ranking by date:</strong> as explained by the name, this is when the most recent references are positioned first, with relevance as the deciding factor when dates are very similar; references without dates are at the end.
        </p>
    </li>
</ul>
