<p>This field is used to restrict references to those that correspond to a given period. It is possible to specify:</p><ul>
    <li>
        <p>
            a particular year: <kbd>2014</kbd>
        </p>
    </li>
    <li>
        <p>
            a period covering several years by using the slash mark <kbd>/</kbd> as a delimiter: <kbd>2000/2011</kbd>
        </p>
    </li>
    <li>
        <p>
            a particular month: <kbd>2014-01</kbd>
        </p>
    </li>
    <li>
        <p>
            a period beginning and ending with a particular month: <kbd>2013/2014-04</kbd>
        </p>
    </li>
    <li>
        <p>
            several different periods, by separating them with two vertical bars <kbd>||</kbd> (&ldquo;OR&rdquo; operator): <kbd>2001/2002||2005||2012-11</kbd>
        </p>
    </li>
</ul><p>It is worth noting that, frequently, only the year of a given reference is known. This means that in certain configurations, specifying the month will not produce any results.</p>
