<ul class="pagination scrutari-result-Pagination">
    {{for tabArray}}
        {{if state==='active'}}
        <li class="active"><span>{{>title}}</span></li>
        {{else state==='disabled'}}
        <li class="disabled"><span>{{>title}}</span></li>
        {{else}}
        <li><a href="javascript:load_tab_{{:number}}"
               data-scrutari-action="paginationTab"
               data-scrutari-type="{{:~root.type}}"
               data-scrutari-position="{{:~root.position}}"
               data-scrutari-number="{{:number}}"
               {{if ~root.ficheGroupName}} data-scrutari-fiche-group-name="{{:~root.ficheGroupName}}"{{/if}}>{{>title}}</a></li>
        {{/if}}
    {{/for}}
</ul>
